body {
    background-color: lightgrey;
}

#add_button {
    color: white;
    background-color: lightgreen;
    height: 50px;
    margin-bottom: 50px;
    font-size: x-large;
}

#modal_close_container {
    display: flex;
    justify-content: right;
}


